
// Body
$body-bg: #f5f8fa;

// Typography
//$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$ferroli-color: #ed9068;
$ferroli-color-dark: #d24c10;
$ferroli-color-light: #e99a43;
$ferroli-color-lighter: #ffebd4;
